body {
    background-color: #323f7d ;
    font-family: Arial, sans-serif;
    color: #333;
}
a {
    text-decoration: underline;
    color: red;
    margin-left: 250px;
    position: inherit;


}

a:hover {
    text-decoration: none;
    color: rgb(6, 7, 21);

}
.summary-container{
    width: 100%;
}
#summary{
    height:35vh;
    width: 97%;
    background-color: rgb(237, 237,220);
    margin-right: 20vw;
    
}
.summary-content {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.header{
    display: flex;
    background-color: #d72929;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(21, 129, 131);
    color: white;
    font: white;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    gap: 10px;
}
.nav li {
    margin-left: 20px;
    text-align: center;
}


h1{
    text-align: center;
    margin-left: 40px;
    color: #000000;
    font-size: 50;
}

form input[type="text"]
form input[type="date"]
form select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;

}

form input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #e71010;
    color: #8d0000;
}



main {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
    padding: 20px;
    margin: 20px;
}

section {
    /* background-image: image1.jpg; */
    background-color: rgb(237, 237, 220);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 17px;
    height: 45vh;
}

.flex-item {
    text-align: center;
    background-color: white;    
}



.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

img {
    width: 5vh; 
    height: 5vh; 
    border-radius: 50%; 
  }

footer {
    text-align: center;
    position: inherit;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;

} 

@media (min-width: 600px){
    body{
        color: rgb(0, 0, 0);
    }
    .profile-placeholder {
        flex-direction: row;
    }
}